<ion-view title="About" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="about-heading1" style="color:#4B31DF;font-weight:600;text-align:center;" class=" ">Instituto Tecnologico de Costa Rica</h3>
        <h4 id="about-heading2" style="color:#000000;text-align:center;" class=" ">Developed by: Laurenth Chaves Méndez</h4>
        <h4 id="about-heading3" style="color:#000000;text-align:center;" class=" ">Course: Application Development for Mobile Devices</h4>
        <h5 id="about-heading4" style="color:#000000;text-align:center;" class=" ">Year: 2016</h5>
    </ion-content>
</ion-view>