<ion-view title="Add Transaction" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addTransaction-form2" class="list ">
            <ion-list id="addTransaction-list5" class=" ">

                <label class="item item-select " id="addTransaction-select1">
                    <span class="input-label">Type:</span>
                    <select id="selectT" ng-model="addTrans.selectT">
                        <option>Debit</option>
                        <option>Credit</option>
                    </select>
                </label>
            </ion-list>
            <label class="item item-input " id="addTransaction-input11">
                <span class="input-label">Rode:</span>
                <input type="text" placeholder="" ng-model="addTrans.rode">
            </label>
            <label class="item item-select " id="addTransaction-select2">
                <span class="input-label">Status:</span>
                <select id="selectStatus">
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </label>
            <label class="item item-input " id="addTransaction-input15">
                <span class="input-label">Date:</span>
                <input type="text" placeholder="" ng-model="addTrans.date">
            </label>
            <button ng-click="transRegister()";id="addTransaction-button2" class=" button button-positive  button-block ">Add</button>
        </form>
    </ion-content>
</ion-view>