<ion-view title="Edit Transaction" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="editTransaction-form3" class="list ">
            <ion-list id="editTransaction-list6" class=" ">
                <label class="item item-input " id="editTransaction-input7">
                    <span class="input-label">Rode:</span>
                    <input type="text" placeholder="" ng-model="editTrans.rode">
                </label>
                <label class="item item-select " id="editTransaction-select8">
                    <span class="input-label">Type:</span>
                    <select id="selectT">
                        <option>Debit</option>
                        <option>Credit</option>
                    </select>
                </label>

                <label class="item item-input " id="editTransaction-input16">
                    <span class="input-label">Date:</span>
                    <input type="text" placeholder="" ng-model="editTrans.date">
                </label>
            </ion-list>
            <button ng-click="transEdit();" id="editTransaction-button3" class=" button button-positive  button-block ">Edit</button>
        </form>
    </ion-content>
</ion-view>