< meta name="csrf-token" content="{{ csrf_token() }}" />
<ion-view title="Login" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form5" class="list ">
            <ion-list id="login-list8" class=" ">
                <label class="item item-input " id="login-input13">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="" ng-model="data.email">
                </label>
                <label class="item item-input " id="login-input14">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="data.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a  ng-click="login();" id="login-button5" class=" button button-stable  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>

<!--ui-sref="menu.about"-->