<ion-view title="Login" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form5" class="list ">
            <ion-list id="login-list8" class=" ">
                <label class="item item-input " id="login-input13">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input14">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.about" id="login-button5" class=" button button-stable  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>