<ion-view title="Transaction List" id="page8" class=" ">
    <ion-content padding="true" class="has-header" >
       <h3>
           <button ng-click="getList();" class="button button-small button-outline icon-right ion-refresh button-light">Refresh Transactions</button>
        </h3>
        
        <ion-list id="transactionList-list7" class=" " ng-init="getList();" >
            <ion-item ng-repeat="trans in myTransList" ng-click="getCurrentTrans({{trans}}); popup();"> 
                <p><b>Type:</b>  {{trans.type}}</p>
                <p><b>Rode:</b>  {{trans.rode}}</p>
                <p><b>Status:</b> {{trans.status}}</p>
                <p><b>Date:</b>  {{trans.date}}</p>
                <br>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>