<ion-view title="User Registration" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="userRegistration-form1" class="list ">
            <ion-list id="userRegistration-list4" class=" ">
                <label class="item item-input " id="userRegistration-input1">
                    <span class="input-label">Name:</span>
                    <input type="text" placeholder="" ng-model="userRegister.name">
                </label>
                <label class="item item-input " id="userRegistration-input2">
                    <span class="input-label">Password:</span>
                    <input type="text" placeholder="" ng-model="userRegister.password">
                </label>
                <label class="item item-input " id="userRegistration-input3">
                    <span class="input-label">Email:</span>
                    <input type="text" placeholder="" ng-model="userRegister.email">
                </label>
                <label class="item item-input " id="userRegistration-input10">
                    <span class="input-label">Debit:</span>
                    <input type="text" placeholder="" ng-model="userRegister.debit">
                </label>
            </ion-list>
            <button ng-click="registrar();" d="userRegistration-button1" class=" button button-positive  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>